name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        # Semantic version range syntax or exact version of a Python version
        python-version: '3.x' 
        # Optional - x64 or x86 architecture, defaults to x64
        architecture: 'x64' 
    
    - name: Run Image Tracker
      run: python ImageTracker/ImageTracker.py ImageTracker/images
      
    #runs-on: windows-latest
    
    #steps:
    #- uses: actions/checkout@v2
      
    #- name: Setup msbuild.exe
    #  uses: microsoft/setup-msbuild@v1.0.0
    
    #- name: Build SCU
     # run: msbuild SCU/stor_scu.vcxproj /p:configuration=debug /p:platform=x64
    
    #- name: Cleaning SCU build folders
     # run: msbuild SCU/stor_scu.vcxproj /t:clean /p:configuration=debug /p:platform=x64

   
