name: SCU TEST
 
on:

   push:

     branches: [ master ]

   pull_request:

     branches: [ master ]
 
jobs:

   build:
 
    runs-on: ubuntu-latest
 
    steps:

     - uses: actions/checkout@v2
       
     - name: stor_scu_test build
       run: g++ -o scu-test scutest/*.cpp
      
     - name: Run scu-test
       run: ./scu-test
     
     - name: install cppcheck static analysis

       run: sudo apt-get update && sudo apt-get install -y cppcheck

     - name: static analysis

       run: cppcheck SCU/stor_scu.c
