name: Static Code Analysis
 
on:

   push:

     branches: [ master ]

   pull_request:

     branches: [ master ]
 
jobs:

   build:
 
    runs-on: ubuntu-latest
 
    steps:

     - uses: actions/checkout@v2


     - name: install cppcheck static analysis

       run: sudo apt-get update && sudo apt-get install -y cppcheck


     - name: static analysis

       run: cppcheck --enable=all --error-exitcode=1  SCU/stor_scu.c
       
     - name: stor_scu_test build
       run: g++ -Wall -Wextra -o scu-test scutest/*.cpp
      
     - name: Run scu-test
       run: ./scu-test
